<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../static/layout/top.html">
</head>

<div class="box box-bg">
    <div class="content-header">
        <p class="title">시스템 코드 등록하기</p>
    </div>
    <form name="systemCodeDetail-form" method="POST" action="" th:action th:object="${request}">
        <table class="table-input xs">
            <colgroup>
                <col width="150px">
                <col width="*">
                <col width="150px">
                <col width="*">
            </colgroup>
            <tbody>
                <tr>
                    <th>구분</th>
                    <td colspan="3">
                        <select id="systemCodeId" name="systemCodeId" class="form-control xs">
                            <option value="">==배송 방식 선택==</option>
                            <option th:each="code : ${systemCodes}" th:value="${code.id}"
                                    th:text="${code.codeName}">거래처 관리(구분)</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <th>코드명 <strong style="color: red">*</strong></th>
                    <td colspan="3">
                        <input type="text" name="name" class="form-control xs"
                        value="${systemCodeDetail.name}" placeholder="코드명 입력해주세요">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-1 flex-content-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil" aria-hidden=""></i>
                등록하기
            </button>
        </div>
    </form>
</div>
